.header {
	height: 100vh;
	position: relative;
}

.header__content {
	position: absolute;
	z-index: 9;
	top: 50px;
	left: 70px;
	right: 70px;
	bottom: 80px;

	pointer-events: none;

	background: rgba(255, 255, 255, .9);
} 


/* ======= Media ======= */
@media(max-width: 1200px) {
	.header__content {
		top: 40px;
		left: 40px;
		right: 40px;
		bottom: 60px;
	}
}

@media(max-width: 767px) {
	.header__content {
		top: 30px;
		left: 5%;
		right: 5%;
		bottom: 30px;
	}
}